<h2 mat-dialog-title>Modifier mon mot de passe</h2>
    <mat-dialog-content>
      <form [formGroup]="passwordForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Ancien mot de passe</mat-label>
          <input matInput type="password" formControlName="oldPassword">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput type="password" formControlName="newPassword">
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()">Annuler</button>
      <button mat-raised-button color="primary" [disabled]="passwordForm.invalid" (click)="onSave()">Enregistrer</button>
    </mat-dialog-actions>