<div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Créer un compte</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <mat-card-content>
          
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastName">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>prénom</mat-label>
            <input matInput formControlName="firstName">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
  
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="phoneNumber">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button">
              <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.hasError('passwordMismatch')">
              Les mots de passe ne correspondent pas
            </mat-error>
          </mat-form-field>
  
        </mat-card-content>
  
        <mat-card-actions>
          <button mat-raised-button color="accent" type="submit" [disabled]="!registerForm.valid">
            S'INSCRIRE
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>