
  <header>
    <div class="logo">BookHub</div>
    @if (authService.isLoggedIn$ | async) {
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Accueil</a></li>
            <li><a routerLink="/user" routerLinkActive="active">Mon compte</a></li>
            @if (authService.getUserRole() === "ROLE_LIBRARIAN") {
              <li><a routerLink="/librarian" routerLinkActive="active">Tableau de bord</a></li>
              <li><a routerLink="/librarian/books" routerLinkActive="active">Gérer le catalogue</a></li>
            }
            <li>
              <a (click)="onLogout()" style="cursor: pointer;">Se déconnecter</a>
            </li>
        </ul>
    </nav>}
  </header>
