.home-section {
    width: 100%;
    min-height: 100vh; 
}

.books-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 90%;     
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0;
    margin-top: 50px;
}

mat-form-field {
    text-align: center;
    margin: 10px 0 0 50px ;
    width: 500px !important;
}

.example-form-field {
    width: 200px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.pagination button.active {
    background-color: #1a73e8;
    color: white;
    border-radius: 4px;
}

